#heading {
	color: white;
	font-size: 60px;
	text-align: center;
	font-family: 'Cutive';
	font-weight: bold;
}

#subheading {
	position: absolute;
	position: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 14px 135px;
  text-decoration: none;
  border-style: double;
  border-color: blue;
  border-radius: 15px;
   
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: blue;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 135px;
  text-decoration: none;
  border-style: double;
  border-color: black;
  border-radius: 15px;
  display: block;
  text-align: left;
  
}

.dropdown-content a:hover {background-color: blue}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  background: url('backGround.jpg');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}


